.Read_more_btn {
  color: black;
  font-weight: bold;
}

.Link_btn_1 {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

.Icon-link-1 {
  width: 40px;
  padding-left: 10px;
  height: 40px;
}

.Icon-link-1:hover {
  width: 50px;
}
