{% load static %}
<footer class="relative bg-gray-200 pt-8 border-t-2 border-black" >
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-left lg:text-left">
        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-3xl font-bold text-blueGray-700">Bansal Group</h4>
          <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
            Bansal group works to gain trust and godness rather profit.
          </h5>
          <div class="mt-6 lg:mb-0 mb-6 flex space-x-4">
            <div>
                <a href="#">
                    <img src="{% static 'icon/fb.png' %}" alt="" class="w-6">
                </a>
            </div>
            
            <div>
                <a href="#">
                    <img src="{% static 'icon/ig.png' %}" alt="" class="w-6">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="{% static 'icon/ln.png' %}" alt="" class="w-6">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="{% static 'icon/tw.png' %}" alt="" class="w-6">
                </a>
            </div>
            
            
          </div>
          <div class="mt-6 lg:mb-0 mb-6">
            <section class="component">
                <div class="flex items-end">
                    <div class="w-7 p-1">
                        <img src="{% static 'icon/wt.png' %}" alt="" class="">
                    </div>
                    <div>
                        <span>Whatsapp</span><span> : </span>
                    </div>
                    <div>
                        <span>+91-7665363669</span>
                    </div>
                </div>
                <div class="flex items-end">
                    <div class="w-7 p-1">
                        <img src="{% static 'icon/call.png' %}" alt="" class="">
                    </div>
                    <div>
                        <span>Customer care</span><span> : </span>
                    </div>
                    <div>
                        <span>141-766536</span>
                    </div>
                </div>
                <div class="flex items-end">
                    <div class="w-7 p-1">
                        <img src="{% static 'icon/gm.png' %}" alt="" class="">
                    </div>
                    <div>
                        <span>Mail</span><span> : </span>
                    </div>
                    <div>
                        <span>contact@BGI.com</span>
                    </div>
                </div>
                <div class="flex items-end">
                    <div class="w-7 p-1">
                        <img src="{% static 'icon/location.png' %}" alt="" class="">
                    </div>
                    <div>
                        <span>Address</span><span> : </span>
                    </div>
                    <div>
                        <span>Govindgarh, alwar</span>
                    </div>
                </div>
            </section>
        </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
              <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2 border-b-2 border-black">Businesses</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/presentation?ref=njs-profile">Agriculture</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://blog.creative-tim.com?ref=njs-profile">Plastic</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.github.com/creativetimofficial?ref=njs-profile">Digital</a>
                </li>
              </ul>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2 border-b-2 border-black">Product & Service</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md?ref=njs-profile">Cattle Feed</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/terms?ref=njs-profile">Plastic Items</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/privacy?ref=njs-profile">Digital Service</a>
                </li>
              </ul>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2 border-b-2 border-black">Pages</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md?ref=njs-profile">About Us</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/terms?ref=njs-profile">Newsroom</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/terms?ref=njs-profile">Blogs</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/privacy?ref=njs-profile">Contact Us</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/privacy?ref=njs-profile">Jobs</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="flex flex-col items-center justify-between mt-6 md:flex-row bg-black text-gray-200 mx-auto p-4">
      <div>
          <p>© 2021 Bansal Group. All Rights Reserved.</p>
      </div>
      <div class="flex  md:m-0 ">
          <div class="-mx-4 px-4 divide-x divide-gray-500">
            <a href="#" class="px-2 text-sm">Privacy Policy</a>
            <a href="#" class="px-2 text-sm">Terms & Conditions</a>
            <a href="#" class="px-2 text-sm">Legal Disclaimer</a>
            <a href="#" class="px-2 text-sm">Sitemap</a>
          </div>
      </div>
  </div>
</footer>